services:
  - type: web
    name: jarrurat-care-app
    env: python
    plan: free

    rootDir: backend

    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn backend.wsgi:application
