services:
  - type: web
    name: jarrurat-care-app
    env: python
    rootDir: backend

    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate

    startCommand: gunicorn backend.wsgi:application
